* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.config-outer {
  padding: 15px 20px;
}

.config-inner {
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.input-group {
  display: flex;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  margin-right: 25px;
  margin-bottom: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
}

.input-add {
  background: #fff;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  border: 1px solid #dfdfdf;
  justify-content: center;
}
.input-group-field {
  border: none;
  padding: 8px 25px;
  border-radius: 15px;
}
.input-group-btn {
  border: none;
  background: #fff;
  border-radius: 0 15px 15px 0;
  padding: 8px 15px;
  border-left: 1px solid #dfdfdf;
}
.input-group-btn:hover {
  background: #dfdfdf;
}

.input-group-label {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.5;
}

.editor-outer {
  padding: 15px 20px;
}

.fancy-select {
  display: inline-block;
  position: relative;
}

.fancy-select::after {
  content: ">";
  transform: rotate(90deg);
  position: absolute;
  right: 15px;
  top: 13px;
}

.fancy-select select {
  appearance: none;
  min-width: 100px;
  border: 1px solid #fefefe;
  border-radius: 8px;
  padding: 15px;
  padding-right: 35px;
}
